*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

.item{
  margin-left: 10px;
  cursor: pointer;
}

.item img{
  width: 200px;
  height: 250px;
}

.play-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  background-color: #000;
  min-height: 260px;
}

.play-video iframe {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  top: 10px;
  left: 2px;
}
